.research {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70rem;
    max-width: 90%;
    margin: 3rem auto;
    padding: 2rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #203354;
}

.searchLabel {
    margin: 0;
}

.searchTitle {
    margin: 0;
    margin-bottom: 1rem;
}

.input {
    width: 20rem;
    margin-bottom: 0.5rem;
}

.filters {
    display: flex;
}

.filtersTitle {
    cursor: pointer;
}

.filterName {
    width: auto;
}

.filterLabel {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
}
